.App {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-around;
}

.header {
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    font-family: serif;
    background-color: #000;
    color: #fdfdfd;
}

.header > h1 {
    margin-left: 20px;
}

.header > button {
    margin: 0 20px;
    font-family: 'Montserrat', sans-serif;
    color: #fdfdfd;
    outline: none;
    border-bottom: 1px solid transparent;
    padding-bottom: 8px;
}

.header > button:hover {
    border-color: #fdfdfd;
}

.App > section {
    margin-left: 120px;
}
