.App {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    height: 200px;
    font-size: 48px;
    font-family: serif;
    background-color: #000;
    color: #fdfdfd;
}

.header > button {
    font-family: 'Montserrat', sans-serif;
    color: #fdfdfd;
    outline: none;
    border-bottom: 1px solid transparent;
    padding-bottom: 8px;
}

.header > button:hover {
    border-color: #fdfdfd;
}

.App > section {
    margin-left: 120px;
}
